.contact-form-section{
    padding: 108px 0 101px;
    .contact-form-section-title{
        margin-bottom: 3.4rem;
        line-height: 4.6rem;
        font-family: $Playfair;
    }
    .contact-form{
        .form-group{
            margin-bottom: 1.4rem;
            .form-control{
                line-height: 2.8rem;
                background-color: #F5F5F5;
            }
        }
    } 
   
}

