.haircut-section{
    padding: 6.3rem 17.4rem;
    .haircut-title{
        margin-bottom: 4.6rem;
        line-height: 5.3rem;
        font-family: $Lato;
        margin-top: 1.5rem;
        .haircut-data{
            font-size: 1.6rem;
            line-height: 2.8rem;
            
        }
    }
}
