.haircut-section{
    .haircut-content{
        .haircut-data{
            .haircut-data{
                width: 700;
                font-size: 1.4rem;
            }
            font-family: $Playfair;
            .haircut-title{
                font-size: 4.4rem;
                font-weight: 400;
                font-family: $Lato;
                margin-bottom: 2.6rem;
                .haircut-text-section{
                    .text-content{
                        margin-top: 104px;
                    }
                    
                }
            }
        }
    }
}
.tags{
    p{
        font-family: $Playfair;
        font-size: 1.4rem;
    }
}