.team-section{
    padding: 16.2rem 8.7rem;
    border-left: solid;

  
    
    .team-section-title{
        margin-bottom: 7.5rem;
         
    }
    .team-image{
        margin-left: 9.4rem;
        .team-title{
            margin-bottom: 17px;
            .team-data{
                line-height: 28px;
               
            }
            
        }
    }
}
