

.services-section{
    .services-section-title{ 
        margin-top: 127px;
        margin-bottom:236px; 
    }
    .services-item{
        background-color: $rose;
        padding: 150px 83px; 
    }
    
}